.abv-percentage-bar-wrapper {
    margin-left: 16px;
    width: 100%;
    .abv-percentage-bar {
        background-color: #a87ee6;
        height: 25px;
        float: left;
        margin-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    }
}