.login-card {
    border: none;


.login-form {

     label {
        color: gray;
        font-weight: 300;
    }

    #email-label, #password-label {
        position: absolute;
        left: 5%;
        top: 0;
    }

    #email:focus + label, 
    #password:focus + label, 
    #email:valid + label,
    #password:valid + label, 
     {
        z-index: -9999;
    }

  

    #email, #password {

        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;

        &:valid {
            border-color: green;
        }

        
    }

  
    a.forgot-password,{
        color: gray;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        font-weight: 300;
    }
    
}



}