// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:light,regular,bold|Arvo:regular,bold|Roboto:thin,light,regular,medium,bold,black');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Pages
@import 'pages/login';
@import 'pages/register';
@import 'pages/places';

// React Layouts
@import 'react/layouts/abv-header.scss';
@import 'react/layouts/aboveheader-colorbar.scss';

// React Components
@import 'react/components/panel';
@import 'react/components/moon-display';
@import 'react/components/moon-header';
@import 'react/components/calendar';
@import 'react/components/abvr-calendar';
@import 'react/components/abv-logo.scss';
@import 'react/components/abv-navbar.scss';
@import 'react/components/abv-user-profile.scss';




// React Views

// React Icons
@import 'react/icons/todaysky-icon.scss';
@import 'react/icons/profile-sign-icon.scss';


// General



.abvr-logo {
    color: #fff;
    z-index: 1;
    font-size: 3em;
    font-family: Arvo, serif;
    font-weight: 700;
    margin-left: -3%;

    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

#app .abvr-nav-color {
    display: block;
    background-color: #8344E0;
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0%;
}


button.above-btn {
    background-color: #8344E0;
    border-color: #8344E0;
    padding: .5em 1.5em;
    border-radius: 1.5em;
    display: block;
    width: 100%;
    margin-top: 10%;


    &:hover {
        background-color: #B188F1;
        border-color: #B188F1;
    }


}




.card-header {
    font-family: Roboto, sans-serif;
    color: black;
    font-size: 1.5em;
    background-color: white;
    border: none;
}

.card-body {
    position: relative;
}

.hidden-behind {
    z-index: -9999;
}

.hidden {
    display: none;
}

a.google-account {
    color: gray;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-weight: 300;
    text-align: center;

    img {
        width: 10%;
        margin-right: 2%;
    }
}

p.login-register-call {
    margin-top: 10%;
    text-align: center;
    font-weight: 100;
    a.register-link {
        color: #8344E0 !important;
        font-weight: 500;
    }

}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}



@media (min-width: 800px) {
    button.above-btn {
        width: 50%;
        font-size: 1.3em;
        margin-right: auto;
        margin-left: auto;
    }


    a.google-account {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 0.9em;
    }

    p.login-register-call {
        margin-top: 0;
    }

    .navbar-brand {
        font-size: 1.4em;

    
    }
 } 





