.abvr-calendar {
    width: 350px;
    text-align: center;
    position: absolute;
    top: 37%;
    left: 60%;
    font-family: Roboto, sans-serif;
    font-weight: 400;

    header {
        margin-bottom: 5%;
        font-weight: 600;
    }

    .cells-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(7, 50px);
        grid-template-rows: 25px repeat(5, 50px);
        width: 350px;
        padding: 0;
        text-align: left;

        .calendar-cell {
            display: block;
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            padding-left: 5%;
        }
        
        .item-seven,
        .item-fortheen, 
        .item-twone,
        .item-tweigth,
        .item-trfive,
        .item-forttwo {
            border-right: 0px solid gray;

        }

        .week-day {
            color: gray;
        }
    }
}