.signmoon-moods {
    button {
        font-size: 0.1em;
        color: white;
        border-color: #8344E0;
        background-color: #8344E0;
        margin-bottom: 7%;
        &:hover {
            color: white;
            border-color: #8344E0;
            background-color: #8344E0;
        }
    }
}

.signmoon-mood-header {
    background-color: #8344E0 !important;
    position: fixed !important;
}

.sign-mood-mostFelt {
    margin-left: 16px;
    span {
        font-weight: 500;
        color: #8344E0;
    }
}

.feel-predict {
    margin-left: 16px;
    margin-top: 5%;
    span {
        font-weight: 300;
    }
}

.bold {
    font-weight: 500;
}

.listItem {
 span {
    font-weight: 300;
 }   
 p {
    color: #8344E0;
    font-size: 1.3em;
    font-weight: 500;
 }
}

.signmoon-mood-header + ul {
    margin-top: 10% !important;
}