.signmoon-moods {
    button {
        font-size: 0.1em;
        color: white;
        border-color: #8344E0;
        background-color: #8344E0;
        margin-bottom: 7%;
    }
}

.signmoon-mood-header {
    background-color: #8344E0 !important;
}

.sign-mood-mostFelt {
    color: #8344E0;
    margin-left: 16px;
    span {
        font-weight: 500;
    }
}