.profile-sign-icon {
    width: 1.5vw;
}

.profile-icon-sun {
    margin-top: 10%;
}

.profile-icon-asc {
    position: absolute;
    left: 0%;
    top: 50%;
}

.profile-icon-moon {
    position: absolute;
    right: 0%;
    top: 50%;
}