.main-content-view {
    .calendar {
        margin-left: 50%;
        width: 50%;
        display: block;
        position: fixed;
        top: 1.5rem;
        .header {
            font-size: 100%;
        }
        .cel-phase-icon {
            width: 70%;
            height: 3vw;
        }

    
    }
}

@media (max-width: 650px) {
    .main-content-view {
        .calendar { 
            display: none;
        }
    }
}

@media (max-width: 700px) {
    .main-content-view {
        .calendar { 
            top: 9.5rem;
        }
    }
}

@media (max-width: 1150px) {
    .main-content-view {
        .calendar { 
            top: 7.5rem;
        }
    }
}

@media (min-width: 1150px) {
    .main-content-view {
        .calendar {
            .cel-phase-icon {
                height: 4vw;
            }
        }
    }
}


@media (min-width: 1150px) {
    .main-content-view {
        .calendar {
            .cel-phase-icon {
                width: 40%;
                height: 3vw;
            }
        }
    }
}

@media(min-width: 1200px) {
    .main-content-view {
        .calendar {
            width: 40%;
            margin-left: 55%;
            top: 3.5rem;
            .cel-phase-icon {
              height: 1.5vw;
            }
          }
    }
  }

@media(min-width: 1500px) {
    .main-content-view {
        .calendar {
            width: 25%;
            margin-left: 62%;
            top: 0.5rem;
            .cel-phase-icon {
              height: 1vw;
            }
          }
    }
  }

@media (min-width: 2000px) {
    .main-content-view {
        .calendar {
            .cel-phase-icon {
                //width: 25%;
                //height: 2vw;
            }
        }
    }
}

