.signs-view {
    .MuiCard-root {
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
    }
    .learn-more {
        color: #8344E0;
        margin-left: auto;
        margin-right: auto;
    }
}