.tasks-view {
    .completed-task-item {
        text-decoration: line-through;
    }

   

    .new-task-button {
        border-color: #8344E0 !important;
        color: white;
        background-color: #8344E0;
        margin-top: 3%;
        left: 29%;
        width: 40%;
        font-size: 1rem;
        position: fixed;
        bottom: 10%;
        
        &:hover {
            background-color: rgb(122, 45, 238);
            border-color: rgb(180, 144, 235) !important;

        }
      }
}

.newtask-header {
    background-color: #8344E0 !important;
}


@media (min-width: 651px) {
    .tasks-view {
        width: 50%;
        margin-left: 50%;
    }
}

