.tasks-view {
    .completed-task-item {
        text-decoration: line-through;
    }

    .incompleted-task-item {
        cursor: pointer;
    }


    .new-task-button {
        border-color: #8344E0 !important;
        color: white;
        background-color: #8344E0;
        margin-top: 3%;
        left: 28%;
        width: 50%;
        font-size: 1rem;
        position: fixed;
        bottom: 10%;
        
        &:hover {
            background-color: rgb(122, 45, 238);
            border-color: rgb(180, 144, 235) !important;

        }
      }

      #date-picker-dialog {
          display: none;
      }

      #date-picker-dialog + div {
          button {
            position: fixed;
            bottom: 10%;
            right: 3%;
          }
      }
    

      .MuiInput-underline {
          &:before {
            border: none;
          }

          &:hover {
              &:before {
                  border: none !important;
              }
          }
      }
}

.newtask-header {
    background-color: #8344E0 !important;
}

.new-task-form-sunsign {
    margin-left: 8px;
    margin-top: 8px;
    span {
        color: #8344E0;
    }
}


@media (min-width: 651px) {
    .tasks-view {
        width: 50%;
        margin-left: 50%;

        .new-task-button {
            position: relative;
        }
    }

    
}

.MuiFormControl-root {
    .MuiInput-underline {
       &:after {
        border-bottom: 2px solid #8344E0 !important;
       }
    }
}

.MuiFormLabel-root.Mui-focused,  {
    color: #8344E0 !important;
}


.see-task-dialog {
    .see-task-close {
        position: absolute;
        right: 2%;
        top: 5%;
        cursor: pointer;
        color: rgb(40, 21, 70);
    }

    .see-task-heading {
        color: #8344E0;
        padding: 5%;
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }


    .see-task-heading + .MuiDialogTitle-root {
        padding: 10px 70px 80px 70px;
        
    }

    h2 {
        font-family: Roboto, sans-serif;
        font-weight: 400;
    }

    .see-task-delete {
        position: absolute;
        bottom: 8%;
        right: 3%;
        color: gray;
        cursor: pointer;

    }
}
