@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:light,regular,bold|Arvo:regular,bold|Roboto:thin,light,regular,medium,bold,black);.abv-dashboard-container main {
  background-color: #e2e1e0;
}

.abv-dashboard-container main header {
  grid-template-columns: 2fr 1fr;
  width: 97.5%;
}

.abv-dashboard-container main header .abv-btn-wrapper {
  position: relative;
  text-align: right;
}

.abv-dashboard-container main header .abv-btn-wrapper a {
  position: relative;
  top: 40%;
  font-weight: bold;
  padding: 0.5rem 0.8rem;
}

.abv-dashboard-container main .abv-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
}

.abv-dashboard-container main .abv-card table {
  font-weight: 300;
}

.abv-dashboard-container main h2 {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  padding: 5%;
  margin-left: -2%;
}

.abv-grid {
  display: grid;
}

.abv-admin-btn {
  color: white;
  padding: 0.5rem 1.2rem;
  background-color: #6311de;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  transition: background-color 0.2s;
  font-size: 0.9rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.abv-admin-btn:hover {
  color: white;
  background-color: #550ebe;
}

.abv-dashboard-nav {
  text-align: right;
  z-index: -1;
  grid-template-columns: minmax(130px, 1fr) 6fr;
}

.abv-dashboard-nav .abv-wrapper {
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.abv-dashboard-nav a {
  text-decoration: none;
}

.abv-dashboard-nav a:hover {
  text-decoration: none;
}

.abv-dashboard-nav .abv-username {
  color: gray;
  font-weight: 100;
  padding: 5%;
  position: relative;
  top: 30%;
}

.abv-dashboard-nav .abv-username i {
  vertical-align: text-top;
  margin-left: 0.5%;
}

.abv-dashboard-nav .abv-logo-wrapper {
  background-color: #6311de;
  text-align: center;
}

.abv-dashboard-nav .abv-logo-wrapper .abv-admin-logo {
  font-family: Arvo, serif;
  color: white;
  font-size: 2.5em;
  font-weight: 600;
}

.abv-dashboard-nav .abv-logo-wrapper .abv-admin-logo:hover {
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.abv-dashboard-container {
  display: grid;
  grid-template-columns: minmax(130px, 1fr) 6fr;
}

.abv-dashboard-container aside {
  text-align: center;
}

.abv-dashboard-menu {
  background: linear-gradient(to bottom, #6311de 0%, #6311de 2%, #8c52e3 100%);
}

.abv-dashboard-menu ul {
  height: 99vh;
  margin-top: 20%;
}

.abv-dashboard-menu ul a {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  font-size: 0.8em;
}

.abv-dashboard-menu .abv-dashboard-menu-item {
  padding-top: 10%;
  text-align: center;
  padding-bottom: 10%;
}

.abv-dashboard-menu .abv-dashboard-menu-item:hover {
  background-color: #e63179;
}

.abv-dashboard-menu .abv-dashboard-menu-item:hover i {
  transform: rotate(-25deg);
}

.abv-dashboard-menu .abv-dashboard-menu-item i {
  font-size: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.1s;
}

