@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:light,regular,bold|Arvo:regular,bold|Roboto:thin,light,regular,medium,bold,black');

@import 'pages/planets';
@import 'pages/dashboard.scss';

.hidden {
    display: none;
}


.abv-grid {
    display: grid;
}

.abv-admin-btn {
    color: white;
    padding: 0.5rem 1.2rem;
    background-color: #6311de;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    transition: background-color 0.2s;
    font-size: 0.9rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    
    &:hover {
        color: white;
        background-color:#550ebe;
    }
}

.abv-dropdown-menu {
    position: absolute;
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    width: 150px;
    right: 3%;
    top: 96%;
    z-index: 5;
    text-align: left;
    border: 1px solid darkgray;
    border-radius: 2px;

    .dropdown-item {
        font-weight: 300;
        i {
            margin-left: 5%;
            vertical-align: middle;
        }
    }
}

.abv-dashboard-nav {
    text-align: right;
    z-index: -1;
    grid-template-columns: minmax(130px, 1fr) 6fr;

    .abv-wrapper {
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }


    a {
        text-decoration: none;
        
        &:hover {
            text-decoration: none;   
        }
    }

    .abv-username {
        color: gray;
        font-weight: 100;
        padding: 5%;
        position: relative;
        top: 30%;

        i {
            vertical-align: text-top;
            margin-left: 0.5%;
        }
    }

    .abv-logo-wrapper {
        background-color: #6311de;
        text-align: center;

        .abv-admin-logo {
            font-family: Arvo, serif;
            color: white;
            font-size: 2.5em;
            font-weight: 600;
            position: relative;
         
            &:hover {
                color: white;
            }

            span {
                font-family: Roboto, sans-serif;
                font-weight: 200;
                font-style: italic;
                font-size: 0.4em;
                position: absolute;
                top: 75%;
                right: -2%;
            }
        }

    }
}




a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style: none;
    padding-left: 0;
}

.abv-dashboard-container {
    display: grid;
    grid-template-columns: minmax(130px, 1fr) 6fr;
    
    aside {
        text-align: center;
    }
}

.abv-dashboard-menu {
    background: linear-gradient(to bottom, rgba(99,17,222,1) 0%, rgba(99,17,222,1) 2%, rgba(140,82,227,1) 100%);

    ul {
        height: 99vh;
        margin-top: 20%;

        a {
            color: white;
            font-family: Roboto, sans-serif;
            font-weight: 200;
            font-size: .8em;
        }

    }

    .abv-dashboard-menu-item {

        padding-top: 10%;
        text-align: center;
        padding-bottom: 10%;

        &:hover {
            background-color: rgb(230, 49, 121);
            i {
                transform: rotate(-25deg)
            }
        }

        i {
            font-size: 2.5em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: transform 0.1s;
        }
    }

    
}

