.aboveheader-colorbar {
    background-color: white;
    width: 50%;
    height: 99%;
    position: absolute;
    right: 0;
    z-index: -1;

   
}

@media (min-width: 1000px) {
    .aboveheader-colorbar {
        height: 100%;
    }
}