.abv-bottom-menu-wrapper {
    position: fixed;
    width: 100%;
    bottom: 1%;
   
    .abv-bottom-menu {
        width: 100% !important;
    }

    .MuiBottomNavigationAction-root.Mui-selected {
        color: rgba(0, 0, 0, 0.54);
    }

    .MuiBottomNavigationAction-label.Mui-selected {
        font-size: 0.75rem;
    }

    a {
        display: block;
        &:hover {
            text-decoration: none;
            color: #8344E0;
        }

    }

    .todaysky-icon {
        color: rgba(0, 0, 0, 0.54);
    }

}

@media (min-width: 651px) {
    .abv-bottom-menu {
        display: none !important;
    }
}