.abv-sidemenu-wrapper {
    position: fixed;
    right: 0%;

    .abv-open-sidemenu-button {

    }

    .abv-sidemenu {
        

    }

}

.abv-sidemenu-link {
    color: black;
    font-weight: 300;
    &:hover {
        color: black;
        text-decoration: none;
    }
}


@media (min-width: 651px) {
    .abv-sidemenu-wrapper {
        display: none;
    }
}