.tasks-header {
    position: relative;
    border-bottom: 1px solid darkgray;
    .sun-sign-of-day {
        color: #8344E0;
        font-weight: 400;
        width: 30%;
        margin-left: 5%;
        padding-top: 5%;
        font-size: 1.4em;
        margin-bottom: 0;   
    }

}